* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: linear-gradient(90deg, #e5e5e5, #e8e8e8);
}

div {
 background: #f1f1f1;
 max-width: 500px;
 padding: 5px;
 margin: 5px auto 5px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
